.s1 {
    margin-top: 5px;
}

.s2 {
    margin-top: 10px;
}

.s3 {
    margin-top: 15px;
}

.s4 {
    margin-top: 20px;
}

.s5 {
    margin-top: 25px;
}

.s6 {
    margin-top: 30px;
}

.s7 {
    margin-top: 35px;
}

.s8 {
    margin-top: 40px;
}

.s9 {
    margin-top: 45px;
}

.s10 {
    margin-top: 50px;
}

.s11 {
    margin-top: 55px;
}

.s12 {
    margin-top: 60px;
}

.s13 {
    margin-top: 65px;
}

.s14 {
    margin-top: 70px;
}

.s15 {
    margin-top: 75px;
}

.s16 {
    margin-top: 80px;
}

.s17 {
    margin-top: 85px;
}

.s18 {
    margin-top: 90px;
}

.s19 {
    margin-top: 95px;
}

.s20 {
    margin-top: 100px;
}

.s21 {
    margin-top: 105px;
}

.s22 {
    margin-top: 110px;
}

.s23 {
    margin-top: 115px;
}

.s24 {
    margin-top: 120px;
}

.s25 {
    margin-top: 125px;
}

.s26 {
    margin-top: 130px;
}

.s27 {
    margin-top: 135px;
}

.s28 {
    margin-top: 140px;
}

.s29 {
    margin-top: 145px;
}

.s30 {
    margin-top: 150px;
}

.s31 {
    margin-top: 155px;
}

.s32 {
    margin-top: 160px;
}

.s33 {
    margin-top: 165px;
}

.s34 {
    margin-top: 170px;
}

.s35 {
    margin-top: 175px;
}

.s36 {
    margin-top: 180px;
}
