* {
 padding: 0;
 margin: 0;
}

body {
 display: grid;
 place-items: center;
 background-color: #1d1d1f;
 color: #ecebee;
}

h1, h2, h3, h4, h5, h6 {
 color: #ecebee
}

.article {
 font-size: 110%;
 margin-left: auto;
 margin-right: auto;
 width: 80%;
 color: #cccccc;
}

a {
 text-decoration: none;
 color: #ecebee
}

.line {
 font-size: 20px;
}
